@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: var(--font-poppins), sans-serif;
	font-family: var(--font-anek-bangla), sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
