@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	overflow-x: hidden;
	--slider-height: 100vh;
}

body {
	font-family: var(--font-poppins), sans-serif;
	font-family: var(--font-anek-bangla), sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	/* here, ct = custom */

	.ct-container {
		@apply xl:max-w-[1250px] lg:max-w-[1000px] md:max-w-[768px] sm:max-w-[425px] xs:max-w-[360px] mx-auto px-1 md:px-4;
	}

	.ct-flex-center {
		@apply flex items-center justify-center;
	}

	.ct-flex-between {
		@apply flex items-center justify-between;
	}

	.ct-flex-start {
		@apply flex items-center justify-start;
	}

	.ct-flex-end {
		@apply flex items-center justify-end;
	}

	.ct-flex-around {
		@apply flex items-center justify-around;
	}

	.ct-flex-evenly {
		@apply flex items-center justify-evenly;
	}

	.ct-flex-start {
		@apply flex justify-start items-start;
	}

	.ct-grid-cols-2 {
		@apply grid grid-cols-2 gap-4;
	}

	.ct-grid-cols-3 {
		@apply grid grid-cols-3 gap-4;
	}

	.ct-grid-cols-4 {
		@apply grid grid-cols-4 gap-3;
	}

	.ct-grid-cols-5 {
		@apply grid grid-cols-5 gap-5;
	}

	.ct-grid-cols-10 {
		@apply grid grid-cols-10 gap-3;
	}

	.ct-grid-cols3-span2 {
		@apply grid grid-cols-3;
	}

	.ct-zoom-in-hover {
		@apply hover:scale-110 transform transition-transform duration-500 cursor-pointer ease-in-out;
	}

	.ct-zoom-out-hover {
		@apply hover:scale-100 transform transition-transform duration-500 cursor-pointer ease-in-out;
	}

	.smooth-animation {
		@apply transition-all duration-300 ease-in-out;
	}
	.smooth-animation-mid {
		@apply transition-all duration-500 ease-in-out;
	}

	.smooth-animation-high {
		@apply transition-all duration-700 ease-in-out;
	}

	.ct-show-sideMenu {
		@apply opacity-100 translate-x-0 visible !important;
	}
	.ct-hide-sideMenu {
		@apply opacity-0 -translate-x-full pointer-events-none invisible !important;
	}
}

.line-through-center {
	text-decoration: line-through;
	text-decoration-thickness: 1px;
}

/* Cart Slider */

.cart-slider {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 100;
}

.cart-slider {
	height: var(--slider-height); /* This will get updated dynamically */
	overflow: auto; /* Allow scrolling if needed */
}

::-webkit-scrollbar {
	-webkit-appearance: none !important;
}

::-webkit-scrollbar:vertical {
	width: 10px !important;
}

::-webkit-scrollbar:horizontal {
	height: 8px !important;
}

::-webkit-scrollbar-thumb {
	background-color: #0d4c3b;
	border-radius: 10px;
	border: 2px solid #ffffff !important;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ffffff !important;
}

@media (min-width: 769px) {
	::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
}

/* Swiper container */
.swiper-container {
	position: relative;
}

/* .swiper-slide.swiper-slide-active {
	width: 592px;
} */

/* Swiper styles */
.mySwiper {
	width: 100%;
	height: 360x;
	border-radius: 5px;
}

/* Custom pagination bullets */
.swiper-pagination-bullet {
	background-color: #d9d9d9 !important;
	width: 12px;
	height: 12px;
	opacity: 100 !important;
	margin: 0 5px !important;
	border-radius: 50%;
	transition: all 0.5s ease;
}

/* Active bullet */
.swiper-pagination-bullet-active {
	background-color: #0d4c3b !important;
	width: 50px !important;
	height: 10px !important;
	border-radius: 12.5px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 10px !important;
	font-weight: 800;
	color: white;
	font-weight: bolder;
	animation: pulseAnimation 2s infinite;
	padding: 12px;
	border-radius: 2px;
	background-color: #0d4c3b;
}
